* {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

/*-------------------
	Progress Bar
-------------------*/
#progress {
	width: 500px;
}

#progress-wrapper {
	width: 500px;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -250px;
	text-align: center;
}

#progress-title {
	font-size: 14px;
}

#progress-subtitle {
	font-size: 11px;
}